.conteudo-cad{
  margin-bottom: -5rem;
  width: 80vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  height: 80vh;
  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
}


.conteudo-cad .box-user {
    position: relative;
  }
  
  .conteudo-cad .box-user input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .conteudo-cad .box-user label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  
  .conteudo-cad .box-user input:focus~label {
    top: -20px;
    left: 0;
    color: #3EAEF4;
    font-size: 0.9rem;
  }
  
  .conteudo-cad .box-user input:valid~label {
    top: -20px;
    left: 0;
    color: #3EAEF4;
    font-size: 0.9rem;
  }

  .botao-login{
    height: 7vh;
  }