.container-cadastro {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../public/fundolib.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.conteudo-cadastro{
  margin-bottom: -5rem;
  width: 80vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
}
  
  .conteudo-cad-cadastro .box-user-cadastro input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .conteudo-cadastro .box-user-cadastro label {
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  
  .conteudo-cadastro .box-user-cadastro input:focus~label {
    top: -20px;
    left: 0;
    color: #3EAEF4;
    font-size: 0.9rem;
  }
  
  .conteudo-cadastro .box-user-cadastro input:valid~label {
    top: -20px;
    left: 0;
    color: #3EAEF4;
    font-size: 0.9rem;
  }

  .botao-login-cadastro{
    height: 7vh;
  }


/* 
  @media only screen and (min-width: 992px) {
    
} */
  