


.container-mural {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #767676;

}

.conteudo-mural{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}
.Titulo-mural{
    width: 100%;
    position: fixed;
    background-color: #143788;
    height: 14vh;
    display: flex;
    justify-content: center;
}

.nome-mural{
    color: white;
    font-family: "Gloock", serif;
    margin-top: 1.9rem;
    
}

.logo-mural{
    height: 14vh;

}

.posts{
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.sidebar{
    background: linear-gradient(0deg, rgba(20,55,128,1) 2%,  rgba(241,235,226,1) 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 20%;
    position: fixed;
    height: 80%;
    
}

.sidebar a{
    padding: 15%;
}

.sidebar input{
    padding-left:15px;
    border-radius: 5px;
    border: none;
}
.opcoes{
    color: white;
    font-size: xx-large;
    text-decoration: none;
    cursor: pointer;
    
}

.opcoes :hover{
    font-size: small;
}
.adm{
    position: fixed;
    right: 10%;
    bottom: 90%;
    transition-duration: .25s;

}

.enviar-adm{
    width: 50%;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
    font-size: xx-large;
    color: white;
}
@media only screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: 80%;
}

    .container-mural{
        flex-direction: column;
    }
    }