
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

.container-mural {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #767676;

}

.conteudo-mural{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}
.titulo-mural{
    width: 100%;
    background-color: #143788;
    
    display: flex;
    justify-content: center;
}

.nome-mural{
    color: white;
    font-family: "Gloock", serif;
    margin-top: 1.9rem;
    
}

.logo-mural{
    height: 14vh;

}

.posts{
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.sidebar{
    background: linear-gradient(0deg, rgba(20,55,128,1) 2%,  rgba(241,235,226,1) 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 20%;
    position: fixed;
    height: 80%;
    
}

.sidebar a{
    padding: 15%;
}

.sidebar input{
    padding-left:15px;
    border-radius: 5px;
    border: none;
}
.opcoes{
    color: white;
    font-size: xx-large;
    text-decoration: none;
    cursor: pointer;
    
}

.opcoes :hover{
    font-size: small;
}
.adm{
    position: fixed;
    right: 10%;
    bottom: 86%;
}

.adm-janela{
    animation: sweep .5s ease-in-out;
}

.enviar-adm{
    border: 4px solid black;
    border-radius: 50px;
    width: 50%;
    background-color: #f1ebe2;

}

.titulo-mural-enviar{
    display: flex;
    border-radius: 50px 50px 0 0 ;
    padding: 20px;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #767676;
}

.inputs-mural{
    display: flex ;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.inputs-mural input{
    border-radius: 10px;
    border: none;
}
.button-mural{
    background-color: #767676;
    width: 20%;
    border: 3px solid #f1ebe2;
    font-size: x-large;
    font-family: Poppins;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
    font-size: xx-large;
    color: white;
}


@media only screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: 80%;
}

    .container-mural{
        flex-direction: column;
    }

    .enviar-adm{
        width: 100%;
    }
    .button-mural{
        width: 50%;
    }
    .post{
        width: 100%;
    }
    }