.container-mural {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #143788;

}

.conteudo-mural{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.Titulo-mural{
    position: fixed;
    width: 100%;
    background-color: #143788;
    height: 14vh;
    display: flex;
    justify-content: center;
}

.nome-mural{
    color: white;
    font-family: "Gloock", serif;
    margin-top: 1.9rem;
}

.logo-mural{
    height: 14vh;

}

.posts{
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sidebar{
    background: linear-gradient(0deg, rgba(241,235,226,1) 0%, rgba(20,55,128,1) 80%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    position: fixed;
}

.sidebar a{
    padding: 15%;
}
.opcoes{
    color: white;
    font-size: xx-large;
    text-decoration: none;
    cursor: pointer;
}

.opcoes :hover{
    font-size: small;
}
