.menu-title {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
}

.hamburger-menu {
  margin-top: -1.8rem;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transition-duration: 0.35s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #143788;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);
}

.menu__item {
  display: block;
  padding: 16px 24px; /* Aumentei o padding para aumentar o tamanho da fonte */
  transition-duration: 0.35s;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px; /* Aumentei o tamanho da fonte */
}

.menu__item:hover {
  background-color: #0081b8;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
