.container-login{
  height: 100vh;
  width: 100vw;
  background-image: url("../../../public/fundolib.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.conteudo-login{
   display: flex;
   width: 50%;
   height: 60%;
   flex-direction: column;
   border-radius: 40px;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.39);
}


.conteudo-login .box-user-login {
  width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputs-login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .conteudo-login .box-user-login input {
    padding: 10px 0;
    width: 50%;
    padding-left: 10px;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .conteudo-login .box-user-login label {
    position: absolute;
    top: 0;
    left: 240px;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .2s;
  }
  
  .conteudo-login .box-user-login input:focus~label {
    top: -20px;
    color: #3EAEF4;
    font-size: 0.9rem;
  }
  
  .conteudo-login .box-user-login input:valid~label {
    top: -20px;
    color: #3EAEF4;
    font-size: 0.9rem;
  }

  .botao-login{
    margin-top: 2rem;
    width: 20vw;
  }

  .logar{
    color: #fff;
    font-size: 50px;
  }
/* 
.inputs-login{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.center .box-user-login input {
  padding: 10px 0;
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}

.center .box-user-login label {
  position: absolute;
  

  left: 900px;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: .2s;
}

.center .box-user-login input:focus~label {
  top: -20px;
  color: #3EAEF4;
  font-size: 0.9rem;
}

.center .box-user-login input:valid~label {
  top: -20px;
  color: #3EAEF4;
  font-size: 0.9rem;
} */

@media only screen and (max-width: 600px) {
  .conteudo-login{
    width: 100%;
  }

  .conteudo-login .box-user-login label{
    margin-left: -10rem;
  }
  .conteudo-login .box-user-login input{
    width: 80%;
  }
  

  .botao-login{
    width: 50vw;
  }

  }

  @media only screen and (max-width: 1107px) {
    .conteudo-login .box-user-login label{
      margin-left: -6rem;
    }

  }

  @media only screen and (max-width: 699px) {
    .conteudo-login .box-user-login label{
      margin-left: -9rem;
    }

  }

  @media only screen and (max-width: 430px) {
    .conteudo-login .box-user-login label{
      margin-left: -11.5rem;
    }

  }