
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.post{
    border: 4px solid rgb(0, 0, 0);
    margin-top: 10px;
    height: 35vh;
    background-color: #f1ebe2;
    color: #0c0b0b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.post-titulo{
    border-bottom: 5px solid rgb(0, 0, 0);
    background-color: rgb(87, 87, 87);
    color: white;
    display: flex;
    height: 25%;
    width: 100%;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.post-mensagem{
    height: 55%;
    width: 100%;
    padding: 10px;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    border-bottom: 5px solid rgb(0, 0, 0);
    overflow-y: scroll;
    
}



.post-cargo{
    
    background-color: rgb(87, 87, 87);
    color: white;
    display: flex;
    height: 20%;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width : 1025px) {
    .post{
        width: 50%;

    }
}


@media only screen and (max-width : 600px) {
    
    .post{
        width: 85%;
    }
}