.ver-livro-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  
  .titulo-livros {
    margin-bottom: 20px;
  }
  
  .livros-table {
    width: 100%;
    margin: 20px 0;
  }
  
  .livros-table th,
  .livros-table td {
    padding: 10px;
  }
  
  .livro-imagem {
    max-width: 100px;
    max-height: 100px;
  }
  .apagar-botao {
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .apagar-botao:hover {
    background-color: #c82333;
  }  