.container-principal{
  background-color: #1481ba ;
  height: 100vh;
  width: 100vw;
  gap: 10px;

}

.top-principal{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-image: url('./chairs.jpg');
  background-repeat: repeat;
  background-size: cover;
  padding: 10%;
  
}

.titulo-principal{
  color: white;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 200px;
  font-size: 80px;
  font-family: Poppins;
  
}

.button-principal{
  width: 20%;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
  font-size: 25px;
  background-color: transparent;
}

.button-principal:hover{
  background-color: white;
  color: #1481ba;
  border:  2px solid black;
}

/* 
style={{
          
  display: "grid",
  gridTemplateColumns: "1fr 1fr 1fr",
 
  height: "100%",
  justifyContent: "center",
  padding: "10px",
}} */

@media only screen and (max-width : 600px) {
  .titulo-principal{
    font-size: 40px;
  }
}