.container-principal{
  background-color: #1481ba ;
  height: 100vh;
  width: 100vw;
  gap: 10px;

}

/* 
style={{
          
  display: "grid",
  gridTemplateColumns: "1fr 1fr 1fr",
 
  height: "100%",
  justifyContent: "center",
  padding: "10px",
}} */