@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@200&display=swap");

.container-inicio-library {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #3EAEF4;
  
}
.container-conteudo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 1rem;
}

.form-control{
  width: 40vw;
}

@media only screen and (max-width : 600px) {
  .container-inicio-library{
    height: 100%;
  }
  .container-conteudo{
    width: 100%;
  }
}

