
.container-reservas{

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;  
  background-color: #1481BA;
  color: white;
  height: 100vh;
  width: 100vw;
}


.conteudo-reservas{
  
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #06283a94;
  justify-content: space-between;
  height: 40%;
}

.inputs-reservas{
  height: 20%;
  width: 100%;
}

/* header */
.header {
  padding: 20px 0;
  text-align: center;
}
.page-title {
  margin: 0 0 20px;
}
.form-input-group {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.search-input-label {
  border-radius: 5px;
  flex-grow: 1;
}
.search-input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
}
.search-input:focus {
  outline: #434341;
}
.search-button {
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ddd;
  background-color: #eee;
}

@media only screen and (max-width : 600px) {
.conteudo-reservas{
  width: 90%;
  height: 80%;
}

.inputs-reservas{
  height: 10%;
}

.form-control{
  width: 100%;
}
}