
/* header */
.header {
  padding: 20px 0;
  text-align: center;
}
.page-title {
  margin: 0 0 20px;
}
.form-input-group {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.search-input-label {
  border-radius: 5px;
  flex-grow: 1;
}
.search-input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
}
.search-input:focus {
  outline: #434341;
}
.search-button {
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ddd;
  background-color: #eee;
}