@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@200&display=swap");

.container-perfil {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/livro-de-leitura-de-mulher-fria-de-tiro-medio-modified.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.conteudo-perfil {
  height: 60%;
  width: 70%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
}

.Titulo-perfil {
  display: flex;
  flex-direction: row;
  margin-top: -6rem;
}
.nome {
  color: #f1ebe2;
  font-family: "Gloock", serif;
}

.logo {
  height: 14vh;
  margin-top: -2rem;
}

.box-user{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.meu-perfil{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo-perfil{
  color: #f1ebe2;
}

.botao-login-perfil{
    width: 45%;
    padding: 2%;
    border: solid 1px;
    text-align: center;
    border-radius: 40px;
    
}


