.conteudo-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
 .status-container{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;

 align-items: center;
   
 }
 

 body{
   color: white;
    font-size: 1.2rem;
    font-weight: bold;
 }

 .faq-satus-font{
   font-size: 0.8rem;
 }

 
 .status-container{
    gap: 2rem;
}

.disponibilidade{
    font-size: 1.3rem;
    margin-top: -3rem;
}
  

.logo{
    margin-top: -2rem;
}