.container-Autor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    background-color: rgb(253, 241, 241);
    height: 100vh;
    width: 100vw;;
}

body{
    color: black;
}

.autor-unico{
    height: 60vh;
    width: 90vw;
}

.autores{
    height: 100vh;
    width: 100vw;
}

.autores{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
}