.container-VerAutor{
    width: 100vw;
    height: 100vh;

}
.autores{
display: flex;
align-items: center ;
color: white;
text-align: center;
justify-content: center;
flex-direction: column;
background-color: rgba(0, 0, 0, 0.459);
width: 50%;
height: 50%;
border-radius: 50px;

}

.alinhar-autores{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}
.autores-caracter{
    display: flex;
    align-items: center ;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.459);
    width: 50vw;
    height: 100%;
    border-radius: 5px;
}