
.btn-custom {
    background-color: #6610f2; /* Esta é a cor indigo-300 do Bootstrap */
    color: #fff; 
  }
  
  .btn-custom:hover {
    background-color: #560ac0;
  }

  .btn-custom-logout:hover {
    color: #fff;
    background-color: #c00a3e;
  }
  .btn-custom-logout {
    color: #d4d1d1;
    background-color: #940726;
  }
.nav-item{
    margin-right: 10px;
}